:root{
    --scrollbar-color: #D3D3D4;
    --background-color: #eee;
}

/* scrioll chrome */
.content__page::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.content__page::-webkit-scrollbar-thumb, .layout__aside::-webkit-scrollbar-thumb{
    background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px solid transparent;
    box-shadow: none;
}

.content__page:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px var(--scrollbar-color);
}

.content__page:hover::-webkit-scrollbar-thumb:hover {
    border: 8px solid var(--secondary-color);
}

.content__page::-webkit-scrollbar-track{
    margin: 0px;
}

/* scrioll chrome barra lateral*/
.layout__aside::-webkit-scrollbar {
    width: 20px;
    background: var(--secondary-color);
}

.layout__aside::-webkit-scrollbar-thumb{
    border: 7px solid transparent;
}

.layout__aside:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px var(--primary-color);
}

.layout__aside::-webkit-scrollbar-track{
    margin-right: 0px;
}