/* Variables */
:root{
    --primary-color: white;
    --secondary-color: #04B4E0;
    --background-color: #F2F7F9;
    --transparent-color: transparent;
    --icon-color:#B5B6B7;
    --title-color: #222222;
    --subtitle-color: #888;
    --text-color: #555;
    --border-radius: 3.2rem;
    --box-shadow: 0 0px 90px -5px rgba(0, 0, 0, 0.2);
    --border-reviews: #E5E6E7;
    --color-company:#A5A6A7;
}


/* Estilos Generales */
html{ font-size: 10px; }

body{
    width: 100%;
    height: 100%;

    /* Imagen de fondo */
    background-color: var(--background-color);
    background-image: url('./../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
    
    color: var(--text-color);
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6{ color: var(--title-color); }




/* Estructura principal */
.layout{
    position: relative;
    min-width: 1290px;
    width: 75%;
    min-height: 80vh;
    height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: 
        "aside content";

    grid-template-columns: 30% 70%;

    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

/* Barra lateral azul */
.layout__aside{
    grid-area: aside;

    
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;

    
}

.aside__user-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;

    background-color: var(--secondary-color);
    color: var(--primary-color)
}

.user-info__container-image{
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
}

.user-info__image{
    width: 100%;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 20rem;
}

.user-info__container-image::after{
    content: '';
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.4;
    border-radius: 30rem;
}

.user-info__name{
    margin-top: 2.6rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.user-info__job{
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--primary-color);
}

.user-info__links{
    margin-bottom: 3.6rem;
}

.links__social{
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction:row;
    gap: 15px;
}

.social__option{
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.8;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.social__option:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20rem;
}

.user-info__buttons{
    margin-top:2rem;
    margin-bottom: 4rem;
}

.user-info__btn{
    padding:3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--primary-color);
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
    transition: all 300ms ease-in-out;
}

.user-info__btn:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);

}
.user-info__footer{
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem;
}


/* Menú de navegación lateral */
.layout__menu{
    position: absolute;
    top: 0;
    right: -10%;
    background-color: var(--transparent-color);

    min-width: 11rem;
}

.menu__list{
    position: relative;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    min-height: 32rem;
    padding: 2rem 0;
    background-color: var(--primary-color);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}

.menu__icon{
    color: var(--icon-color);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__icon{
    color: var(--secondary-color);
}

.menu__overlay{
    position: absolute;
    right: 60%;
    margin-top: -3rem;
    display: block;
    opacity: 0;
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    white-space: nowrap; 
    transition: all 400ms ease-in-out;
}

.menu__option:hover .menu__overlay{
    opacity: 1;
    right: 100%;

}

/* contenedor principal */
.layout__content{
    grid-area: content;
    height: 100%;
    min-height: 100%;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.content__page{
    min-height: 100%;
    background-color: var(--primary-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__name{
    font-size: 6rem;
    margin-bottom: 1rem;
}
.page__job{
    font-size: 2.1rem;
    font-weight: lighter;
    color: var(--subtitle-color);
}

/* SOBRE MI */
.content__about{
    height: 100%;
    min-height: 100%;
    padding: 6rem 4.2rem 6rem 6rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4.5rem;
}

.about__header{margin-bottom: -1rem; display: inline-block;}
.about__title{
    position: relative;
    font-size: 3.2rem;
}

.about__title::after{
    content:'';
    position: absolute;
    top: 20px;
    right: -25px;

    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--secondary-color), var(--secondary-color) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
}

.title__color{
    color: var(--secondary-color);
    z-index: -1;
}

.about__personal-info{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.personal-info__bio{
    flex-basis: 60%;
}

.personal-info__description{
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.personal-info__data{ flex-basis: 40%; }
.personal-info__option{ margin-bottom: 1rem; }

.personal-info__title{
    font-weight: 600;
    color: var(--secondary-color);
    margin-right: 0.5rem;
}


/* SERVICIOS */
.services__header, .reviews__header{
    display: inline-block;
    position: relative;
    margin-bottom: 2.5rem;
}

.services__title, .reviews__title{
    font-size: 2.1rem;
}

.services__title::after, .reviews__title::after{
    content:'';
    position: absolute;
    top: 15px;
    right: -15px;

    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--secondary-color), var(--secondary-color) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

.service__icon .fa-solid{
    color: var(--secondary-color);
    font-size: 3.8rem;
}

.services__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem 5rem;
}

.services__service{
    flex-basis: calc(50% - 5rem);
}

.service__title{
    font-size: 1.8rem;
    margin: 0.8rem 0;
}

.service__description{
    font-size: 1.5rem;
    text-align: justify;
}


/* RESEÑAS */
.reviews__container{
    width: 100%;
    display: flex;
    gap: 3rem;
}

.reviews__review{
    flex-basis: calc(50% - 3rem);
    border: 2px solid var(--border-reviews);
    border-radius: 2rem;
    padding: 0 2.5rem 1.5rem;
    margin-top: 3.5rem;
}

.review__image-container{
    width: 100%;
}

.review__image{
    max-width: 9rem;
    max-height: 9rem;
    border-radius: 9rem;
    margin: 0 auto;
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.22);
}

.review__description{ margin-bottom: 2rem; }

.review__text{
    font-size: 1.5rem;
    line-height: 2.5rem;;
}

.review__author{
    display: flex;
    justify-content: space-between;
}
.review__company{
    color: var(--color-company);
    font-weight: 300;
}

.review__icon{
    font-size: 3rem;
    color: var(--secondary-color);
    opacity: 0.5;
}